class_path: chebai.loss.semantic.DisjointLoss
init_args:
  path_to_disjointness: data/disjoint.csv
  base_loss:
    class_path: chebai.loss.bce_weighted.BCEWeighted
    init_args:
      beta: 0.99
  multiply_by_softmax: true
  impl_loss_weight: 100
  disjoint_loss_weight: 1000000
