[settings]
known_third_party = Bio,deepsmiles,fastobo,iterstrat,jsonargparse,lightning,lightning_utilities,lnn,matplotlib,model,molecule,networkx,numpy,owlready2,pandas,pyhornedowl,pysmiles,pytorch_lightning,rdkit,requests,scipy,seaborn,selfies,setuptools,sklearn,torch,torch_geometric,torchmetrics,tqdm,transformers,utils,wandb
