- class_path: chebai.callbacks.model_checkpoint.CustomModelCheckpoint
  init_args:
    monitor: val_loss
    mode: 'min'
    filename: 'best_{epoch}_{val_loss:.4f}'
    every_n_epochs: 1
    save_top_k: 3
- class_path: chebai.callbacks.model_checkpoint.CustomModelCheckpoint
  init_args:
    filename: 'per_{epoch}_{val_loss:.4f}'
    every_n_epochs: 25
    save_top_k: -1
